<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <div class="container col-lg-2">
    <div class="page-header"><h2>please sign in</h2></div>

      <form action="/session" method="post">
        <%= auth_token %>

        <div class="form-group">
          <label for="user_email">email:</label>
          <input type="text"
                 class="form-control"
                 name="user[email]"
                 id="user_email">
        </div>
        <div class="form-group">
          <label for="user_password">password:</label>
          <input type="password"
                 class="form-control"
                 name="user[password]"
                 id="user_password">
        </div>
        <button type="submit" className="btn btn-default">sign in</button>

      </form>
    </div>
  </body>
</html>
