<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <div class="login-container clearfix">
      <div class="col-md-8  sign-in-page">
        <div class="page-header"><h2>Welcome to HoundCloud</h2></div>
          <form class="log-in" action="/session" method="post">
            <%= auth_token %>

            <div class="form-group">
              <label for="user_email">email:</label>
              <input type="text"
                     class="form-control"
                     name="user[email]"
                     id="user_email">
            </div>
            <div class="form-group">
              <label for="user_password">password:</label>
              <input type="password"
                     class="form-control"
                     name="user[password]"
                     id="user_password">
            </div>
            <button type="submit" class="btn btn-form-login">Sign In</button>
            <button id="demo-login" class="btn btn-demo-login">Demo User</button>
          </form>

          <div>New User? <%= link_to "Sign up", new_user_url %> here.</div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function demoLogin (e) {
      e.preventDefault();
      var ajaxOptions = {
        url: '/session/demo',
        type: 'POST',
        dataType: 'json',
        success: function (data) {
          window.location.replace('/');
        }
      };
      $.ajax(ajaxOptions);
    }

    $("#demo-login").on('click', demoLogin)
  </script>
</html>
