/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require audio_player
 */
 // .auto-search {
 //   position: absolute;
 // }
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "sessions";
 @import "static_pages";
 @import "users";
 @import "songs";
 @import "modal";
 @media (min-width: 1200px) {
     .container{
         max-width: 970px;
     }
 }
html{height:100%;}
body{height:100%;}
#app {
  height:100%;
  background-color: #F2F2F2;
}
 #content {
   height:100%;
   font: 100 13.5px/1.5 "Lucida Grande",Arial,sans-serif;
 }

 #page {
   height:100%;
   background-color: #FFFFFF;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 div#feed-index {
   border-bottom: 1px solid #F2F2F2;
 }
 .clearfix:before {
   content:"";
   clear: both;
 }
 .btn-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  // line-height: 1.42;
  border-radius: 14px;
}

.glyphicon-play:before {
  position: relative;
    left: 1px;
}

.navbar-default .navbar-nav>li>a>span {
    width:26px;
    height:26px;
    background-size: cover;
    background-color: #000;
    background-position: 50% 50%;
}

.navbar-nav>li>a>div.user-nav-div {
  height: 26px;
  width: 26px;
}

 .navbar-default .navbar-brand{
  background: linear-gradient(to top, #EE2200, #FF7700);
  color: #FFF;
}
.navbar-brand:hover .navbar-default:hover {
  background-color: #FF4800;
  color: #FFF;
}
a.navbar-brand:hover {
  background-color: #FF4800;
  color: #FFF;
}

input.navbar-search {
  background-color : #e5e5e5;
}

ul.nav.navbar-nav>li>a {
  color: #CCC
}
ul.nav.navbar-nav>li>a:hover {
  color: #EEE
}

// When active:
ul.nav.navbar-nav>li.selected {
  background-color: #111;
}
ul.nav.navbar-nav>li:last-child{
  border-right: 1px solid #111
}
ul.nav.navbar-nav>li.dropdown{
  border: none;
}
ul.nav.navbar-nav>li.selected>a {
  color: #FFF;
}
ul.nav.navbar-nav>li>a:focus {
  color: #FFF;
  background-color: #111;
}
nav.navbar.navbar-default.navbar-fixed-top{
  background-color: #333;
  border: none;
}

body {
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}
