/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require audio_player
 */
 // .auto-search {
 //   position: absolute;
 // }
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "sessions";
 @import "static_pages";
 @import "users";
 @import "songs";
 @import "modal";
 @import "user_sidebar";
 @import "search";
 @media (min-width: 1200px) {
     .container{
         max-width: 970px;
     }
 }
html{
  height: 100%;
  min-height: fit-content;
}
body {
  height: 100%;
  min-height: fit-content;
}
#app {
  height:100%;
  min-height: fit-content;
  background-color: #F2F2F2;
}

#content {
 height: 100%;
 min-height: 100%;
 font: 100 13.5px/1.5 "Lucida Grande",Arial,sans-serif;
}

#page {
 height:100%;
 min-height: fit-content;
 background-color: #FFFFFF;
 padding-top: 50px;
 padding-bottom: 50px;
}

div#feed-index-container {
  min-height:100%;
  width:100%;
  overflow:hidden;
  border-bottom: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  float:left;
}

#user-home-container {
  margin-top:50px;

  #feed-index {
    margin-top:14px;
    width:72%;
    float:left;


  }
}

div#user-home-left-container {

}
div#profile-sidebar {

  padding: 14px;
  width: 28%;
  height: 100%;

  float:right;
}
form#search-bar {
  width:100%;
  .form-group.has-feedback {
    width:100%;
    input {
      width:100%;
    }
  }
}


.clearfix:before {
 content:"";
 clear: both;
 display: block;
}
.clearfix:after {
 content:"";
 clear: both;
 display: block;
}

.btn-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  // line-height: 1.42;
  border-radius: 14px;
}

.glyphicon-play:before {
  position: relative;
    left: 1px;
}

.navbar-default .navbar-nav>li>a>span {
    width:26px;
    height:26px;
    background-size: cover;
    background-color: #000;
    background-position: 50% 50%;
}

.navbar-nav>li>a>div.user-nav-div {
  height: 26px;
  width: 26px;
}

.navbar-default{
  .navbar-brand {
    background: linear-gradient(to top, #EE2200, #FF7700);
    color: #FFF;

    &:focus, &:hover{
      color: #FFF;
    }
  }
}
.navbar-brand:hover .navbar-default:hover {
  background-color: #FF4800;
  color: #FFF;
}
a.navbar-brand:hover {
  background-color: #FF4800;
  color: #FFF;
}

input.navbar-search {
  background-color : #e5e5e5;
}

ul.nav.navbar-nav>li>a {
  color: #CCC
}
ul.nav.navbar-nav>li>a:hover {
  color: #EEE
}

// When active:
ul.nav.navbar-nav>li.selected {
  background-color: #111;
}
ul.nav.navbar-nav>li#collections {
  &.selected {
    background-color: #333;
  }

  background-color: #333;
}

ul.nav.navbar-nav>li:last-child{
  border-right: 1px solid #111
}
ul.nav.navbar-nav>li.dropdown{
  border: none;
}
ul.nav.navbar-nav>li.selected>a {
  color: #FFF;
}

ul.nav.navbar-nav>li {

  a:focus {

    color: #FFF;
    background-color: #111;
  }

  &#collections {

    a {
      &:hover {
        color:#FFF;
      }
      &:focus {
        color: #EEE;
        background-color: #333;
      }
    }
  }
}

nav.navbar.navbar-default.navbar-fixed-top{
  background-color: #333;
  border: none;
}

body {
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}



.login-container{
  position:fixed;
  width:100%;
  height:100%;
  background-image:url(http://res.cloudinary.com/gmkohler/image/upload/v1445896281/HomeBanner_dog_colours_pr41ob.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color:#FFFFFF;
  div.sign-in-page {
    margin-top: 8%;
    margin-bottom: 7%;
    margin-left: 16%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius:30px;
    width:auto;
    min-width:33.3%;
    form.log-in {
      margin:auto;
      .btn-form-login {
        text-align: center;
        width: auto;
        margin: 15px auto;
        background-color: #FFFFFF;
        border-color: #333333;
        color: #FF5500;
        font-size: 16px;
        line-height: 20px;
        &:hover {
          background-color: #FFFFFF;
          border-color: #FF5500;
          color: #FF5500;
        }
      }
      .btn-demo-login {
        text-align: center;
        width: auto;
        margin: 15px auto;
        background-color: #FFFFFF;
        border-color: #333333;
        color: #6495ED;
        font-size: 16px;
        line-height: 20px;
        &:hover {
          background-color: #FFFFFF;
          border-color: #6495ED;
          color: #6495ED;
        }
      }

      label{
        font-size:14px;
      }
    }
    a {
      color: #FF5500;
      &:hover{
        text-decoration:none;
        color:#333333;
      }
    }
  }
}
