#audio-player {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
#audio-player-controls {
  float: left;
  width: 20%;
  display:inline-block;
}
#audio-player-song-holder {
  height: 50px;
  padding: 5px 0;
  display:inline-block;
  width:30%;
}
#now-playing {
  float: left;
  width: 40%;
}
#now-playing-state {
  display:inline-block;
  float: left;
  width: 40%;
}

#now-playing-badge {
  width:auto;
  margin-right: 0;
  border:none;
  display: inline-block;
}
#now-playing-badge-heart {
  display:inline-block;
  width:auto;
  border:none;
}


ul.queue-index-item {
  width: 282px;
  li {
    width:100%;
    div.queue-index-item {
      width: 100%;
      div {
        float:left;
        display:inline-block;
      }


      div.now-playing-badge-info {
        #
        float:left;
        width: auto;


        line-height: 1.3;
        div {
          width:100%;
          line-height: 1.3;

          &.first-row {
            width:100%;
            padding-left:35px;

            #queue-index-item-move-back {
              width:auto;
              display:inline-block;
              float:right;
            }
          }

          &.second-row {
            width:100%;
            
            div.now-playing-item-thumbnail-container {
              margin: 0 5px;
              display:inline-block;
              float:left;
              width: auto;
              div.now-playing-item-thumbnail {
                position:relative;
                bottom:5px;
              }
            }
            #queue-index-item-move-up {
              width:auto;
              display:inline-block;
              float:right;
            }
          }

          span {
            white-space:nowrap;
            text-overflow: ellipsis;

            &.now-playing-badge-artist {
              a {
                float:left;
                display:inline-block;
                font-size: 10px;
                font-weight: 100;
                line-height: 1.2;
                color: #999999;
                text-decoration:none;
              }

              a:hover {
                color: #333333;
              }

              div {
                width:auto;
                display:inline-block;
                float:right;
              }
            }

            &.now-playing-badge-title {
              color: #333333;
              font-size: 12px;
              font-weight: 700;
              line-height: 1.3;
            }
          }
        }
      }
      div.queue-index-item-button-container{
        float:right;
        display:inline;
        padding: 0 2px;
      }
    }
  }
}
div.now-playing-buttons {
  float:left;
  width:auto;
  div {
    display:inline-block;
    width:auto;
    margin: auto;
    button {
      display:inline-block;
    }
  }
}
div.now-playing-badge-thumbnail {
  float:left;
  margin-right:10px;
}



button.btn.btn-xl.playback-btn {
  color: #333333;
  background-color: inherit;
  border: none;
}
button.btn.btn-xl.playback-btn.play {
  height: 46px;
  width: 46px;
  font-size: 24px;
}
button.btn.btn-xl.playback-btn.skip {
  height: 46px;
  width: 33px;
  font-size: 18px;
}
button.btn.btn-xl.playback-btn.skip.next {
  position:relative;
  left: 0;
}

button.btn.btn-xl.playback-btn.repeat {
  height:100%;
  margin: auto 15px;
  opacity: 50%;
}
button.btn.btn-xl.playback-btn.repeat>i{
  margin: auto 0;
  opacity: 50%;
}

button.btn.btn-xl.playback-btn.repeat:hover {
  opacity: 75%;
}

button.btn.btn-xl.playback-btn.repeat.active {
  opacity: 100%;
}
