#audio-player {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
#audio-player-controls {
  float: left;
  width: 20%;
  display:inline-block;
}
#audio-player-song-holder {
  height: 50px;
  padding: 5px 0;
  display:inline-block;
  width:30%;

  div.now-playing-badge-thumbnail-container {
    margin: 0 5px;
    display:inline-block;
    float:left;
    width: auto;

    div.now-playing-badge-thumbnail {
      margin:none;
      display:inline-block;
      position:relative;
      bottom:5px;
    }
  }
  div.now-playing-badge-info {
    padding: 5px 0px;
    float:left;
    width: 65%;
    line-height:1.2;

    div {
      height:auto;
      width:100%;

      span {
        white-space:nowrap;
        text-overflow: ellipsis;


        &.now-playing-badge-boilerplate {
          font-size: 10px;
          color: #777777;
          a {
            float:left;
            display:inline-block;
            font-weight: 100;
            text-decoration:none;
          }

          div {
            width:auto;
            display:inline-block;
            float:right;
          }
        }

        &.now-playing-badge-title {
          color: #333333;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}
#now-playing {
  float: left;
  width: 40%;
}
#now-playing-state {
  display:inline-block;
  float: left;
  width: 40%;
}
#now-playing-badge {
  width:auto;
  margin-right: 0;
  border:none;
  display: inline-block;

}
#now-playing-badge-heart {
  display:inline-block;
  width:auto;
  border:none;
}

li.dropup {
  >a{
    >div {
      >span {
        margin-left: 4px;
      }
    }
  }
}

ul.queue-index-item {
  width: 282px;
  li {
    width:100%;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
      border: none;
    }
    div.queue-index-item {
      width: 100%;
      div {
        float:left;
        display:inline-block;
      }

      div.queue-index-item-thumbnail-container {
        position:relative;
        padding:6px 5px;
        display:inline-block;
        float:left;
        width: 15%;
        div.queue-index-item-thumbnail {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          border: 1px solid rgba(0, 0, 0, .15);
          width:auto;
        }
      }


      div.queue-index-item-info {
        padding: 5px 0px;
        float:left;
        width: 65%;

        div {
          line-height:1.35;
          height:auto;
          width:100%;
          position:relative;

          span {
            white-space:nowrap;
            text-overflow: ellipsis;

            &.queue-index-item-artist {
              a {
                float:left;
                display:inline-block;
                font-size: 10px;
                font-weight: 100;
                color: #999999;
                text-decoration:none;
              }

              a:hover {
                color: #333333;
              }

              div {
                width:auto;
                display:inline-block;
                float:right;
              }
            }

            &.queue-index-item-title {
              color: #333333;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }
      div.queue-index-item-button-container{
        width:15%;
        float:right;
        display:inline;
        padding: 5px 0px;
        color: #CCCCCC;



        #updown {
          width:auto;

          div {
            &:hover {
              cursor: pointer;
              color: #AAAAAA;
            }
            font-size:12px;
            clear:both;
            display:inline-block;
            float:left;
          }
        }
        #queue-index-item-remove {
          margin: 0px 5px;
          i {
            padding: 10px 0px;
            &:hover {
              cursor: pointer;
              color: #AAAAAA;
            }
          }
        }
      }
    }
  }
}




div.now-playing-buttons {
  float:left;
  width:10%;
  div {
    display:inline-block;
    width:auto;
    margin: auto;
    button {
      display:inline-block;
    }
  }
}

button.btn.btn-xl.playback-btn {
  color: #333333;
  background-color: inherit;
  border: none;
}
button.btn.btn-xl.playback-btn.play {
  height: 46px;
  width: 46px;
  font-size: 24px;
}
button.btn.btn-xl.playback-btn.skip {
  height: 46px;
  width: 33px;
  font-size: 18px;
}
button.btn.btn-xl.playback-btn.skip.next {
  position:relative;
  left: 0;
}

button.btn.btn-xl.playback-btn.repeat {
  height:100%;
  margin: auto 15px;
  opacity: 50%;
}
button.btn.btn-xl.playback-btn.repeat>i{
  margin: auto 0;
  opacity: 50%;
}

button.btn.btn-xl.playback-btn.repeat:hover {
  opacity: 75%;
}

button.btn.btn-xl.playback-btn.repeat.active {
  opacity: 100%;
}
