#search-bar-container {
  position:relative;
}
#search-bar {
  position:absolute;
  #search-submit {
    position:absolute;
    left:-100%;
    width:1px;
    height:1px;
    background-color:#333333;
    border:none;
    color:#333333;
  }
}
#suggestion-index{
  width:100%;
  padding: 0 15px;
  margin-left:-15px;

  ul {
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom:0;
    padding:0;

    &:first-child {
      border-bottom:none;
    }
    &:last-child {
      border-top:none;
    }
    &.queue-index-item {
      width:100%;
      li {
        width:100%;
      }
    }

    li {
      list-style:none;

      &.search-suggestion-header {
        padding-left:15px;
        width:100%;
        font-size: 10px;
        font-weight:700;
        background-color: #E7E7E7;
        color: #333333;
      }

      div.sidebar-follow-item {
        padding: 4px 8px 6px 8px;
        border-bottom: solid 1px #F2F2F2;
        position: relative;
        margin-bottom:0;
        &:hover {
          background-color:#F2F2F2;
        }

        .btn-sidebar-follow {
          position: absolute;
          right:5px;
          bottom:8px;
        }

        .sidebar-follow-item-thumbnail-container {
          width: 15%;
          float:left;
          display:inline-block;

          .sidebar-follow-item-thumbnail {
            position:relative;
            top:5px;
            height:30px;
            width:30px;
            background-color: #cccccc;
            background-size: cover;
            background-position: center;
          }
        }

        .sidebar-follow-item-detail {
          width: 85%;
          float:left;
          display:inline-block;

          .sidebar-follow-item-info {
            span {
              display:block;
              overflow:hidden;
              text-overflow:ellipsis;
              font-size:13px;
              color:#333333;
            }
          }
          .sidebar-follow-item-stats {
            span {
              color:#999999;
            }
            >div {
              float:left;
            }
            div {
              font-size: 10px;
              margin-right: 4px;
            }
            i {
              font-size: 10px;
              margin-right: 2px;
              color:#999999;
              float:left;
            }
          }
        }
      }
    }
  }
}

div.search-index-header {
  border-bottom: 1px solid #F2F2F2;
  width:100%;
  position:relative;

  div.search-index-bar {
    padding: 30px 0 0 0;
    margin: 0;
    line-height:1.6;
    display:block;
    &.search-results {
      padding: 10px 0 0 0;
    }
    div {
      bottom: -1px;
      margin-bottom:0;
      float:left;
      list-style: none;

      &.left{
        float:left;
      }
      &.right{
        float:right;
        position:relative;
        top:10px;
        right:10px;
      }
      span {
        text-size:14px;
        display:block;
        font-size: 24px;
        font-weight:500;
        cursor: default;
        text-decoration: none;
        // border-bottom: 1px solid #000000;
        color: #333333;
      }
    }
  }
}

div.user-search-index {
  div.user-search-item {
    padding: 8px 0;
    border-bottom: solid 1px #F2F2F2;
    margin-bottom: 20px;
    position: relative;
  }
  div.user-search-item {
  }
  div.user-search-item-thumbnail-container {
    width: 20%;
    float:left;
    display:inline-block;

    .user-search-item-thumbnail {
      position:relative;
      top:0;
      height:120px;
      width:120px;
      background-color: #cccccc;
      background-size: cover;
      background-position: center;
    }
  }
  div.user-search-item-detail {
    width: 80%;
    float:left;
    display:inline-block;

    .btn-follow.btn-user-search {
      position: absolute;
      left:20%;
      bottom:8px;
    }
    .user-search-item-info {
      a {
        font-size:14px;
        color: #333333;

        &:hover, &:active {
          text-decoration:none;
        }

        &:hover {
          color:#FF5500;
        }
      }
    }
    .user-search-item-stats {
      span {
        color:#999999;
      }
      >div {
        float:left;
      }
      div {
        font-size: 10px;
        margin-right: 6px;
      }
      i {
        font-size: 10px;
        margin-right: 4px;
        color:#999999;
        float:left;
      }
    }
  }

}

.search-sidebar{
  width: 28%;
  margin-right:0;


  float:left;
  >div {
    padding-left:15px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &:hover{
      cursor:pointer;
    }
    &:last-child {
      border:none;
    }
    &:first-child {
      margin-top:20px;
    }
    margin:4px 0;
    width:100%;
    color:#333333;
    background-color:#FFFFFF;
    &.active {
      color:#FFFFFF;
      background-color:#FF5500;
    }
    span{

    }
    i{
      &:before{
        position:relative;
        bottom:-2px;
      }
      margin-right:10px;
      float:left;
    }
  }

  div.index-item-tag-collection {
    list-style: none;
    margin: 2px 0 5px 0;
  }

  div.tag-header {
    float:left;
    list-style:inherit;
    margin: 0 6px 6px 0;
    width:100%;
    span {
      float:left;
    }
    div {
      position:relative;
      bottom:0;
      float:left;
      margin-bottom:0;
    }
  }

// PUT A SMALL MARGIN ON THE HEADERLLLLLL


  div.index-item-tag {
    float:left;
    list-style:inherit;
    background-color: #999999;
    padding:1px 4px;
    border: 1px solid #999999;
    border-radius: 20px;
    margin-left: 2px;
    margin-bottom:4px;

    &.active {
      background-color: #555555;
      border-color: #555555;
      &:hover {
        background-color: #999999;
        border-color: #999999;
      }
    }

    &:hover {
      background-color: #555555;
      border-color: #555555;
      cursor: pointer;
    }

    span.index-item-tag-text {
      color: #FFFFFF;
      font-size:12px;
      line-height:16px;
    }
  }
}

.search-results-container{
  width: 72%;
  float:right;
  padding-left:15px;
  border-left: 1px solid #EEEEEE;
}
.search-results-container div#feed-index{
  width: 100%;
  div#feed-index-container {
    border-right:none !important;

    padding-top:15px;
    >div.index-item {
      border-bottom: 1px solid #eeeeee
    }
  }
}

// will want to override the feedindex in this case.
